body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 9pt;
    background: white;
    margin: 0;
}

a {
    color: black;
}

a:hover {
    background: yellow;
}

h1 {
    margin: 0;
    padding-bottom: 1em;
}

.docs ul {
    padding-left: 2em;
}

#cannot-ping {
    padding: 0.5em;
    background: #aa0000;
    color: white;
    display: none;
}

#columns {
    display: table;
    height: 100%;
}

#left-column {
    width: 25em;
    background: #f0f0f0;
    padding: 1em;
    display: table-cell;
}

#right-column {
    width: 40em;
    padding: 1em;
    display: table-cell;
}

#sidenotes {
    width: 15em;
    display: table-cell;
}

#footer {
    background: #555555;
    color: white;
    padding: 0.5em;
}

#footer .actions {
    display: block;
    float: right;
}

#view-source {
    color: white;
    text-decoration: none;
}

#view-source:hover {
    color: black;
}

.clickable {
    cursor: pointer;
}

span.clickable:hover, li.clickable:hover {
    color: black;
    background: yellow;
}

.meta-header {
    font-weight: bold;
}

.package-entry {
    color: gray;
    padding-bottom: 1em;
}

.package-entry .name {
    font-weight: bold;
    color: black;
}

.package-entry .description {
}

.package-entry .modules {
    font-size: 8pt;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-left: 2em;
}

.package-entry .module {
    display: inline;
    margin-right: 1em;
}

pre {
    padding-left: 1em;
}

pre, code, tt {
    font-family: Monaco, Lucida Console, monospace;
    font-size: 8pt;
}

/* This is done to make API documentation look less
   wonky, but doesn't really stay true to the semantics 
   of the underlying HTML. */
tt em {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 9pt;
}

/* This is done to make API documentation look less
   wonky, but doesn't really stay true to the semantics 
   of the underlying HTML. */
tt strong {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 9pt;
}


#templates {
    display: none;
}

#dev-guide-toc ol {
    padding-left: 2em;
}

#dev-guide-toc #tutorials {
    list-style: decimal;
}

#dev-guide-toc #appendices {
    list-style: upper-alpha;
}

#dev-guide-toc .section {
    font-weight: bold;
}

.aside {
    color: gray;
    border-left: gray 1px solid;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    display: block;
}

#dev-guide-header {
    /* TODO: This is a dumb place to put a margin-top. */
    margin-top: 0.25em;
}

table {
    border-collapse: collapse;
}

table, td, tr {
    border: 1px black solid;
}

td {
    padding: 0.5em;
}

/* Rule to fix quirks-mode inheritance behavior */
table, caption {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
}
