body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 9pt;
    background: #f0f0f0;
}

#container {
    width: 40em;
    margin: 0 auto;
}

.entry {
    color: gray;
    padding-bottom: 1em;
}

.entry .name {
    font-weight: bold;
    color: black;
}

.entry .description {
}

.entry .modules {
    font-size: 8pt;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-left: 2em;
}

.entry .module {
    display: inline;
    padding-right: 1em;
}

pre {
    font-family: Monaco, Lucida Console, monospace;
}

#templates {
    display: none;
}
