/* Upload to https://developer.mozilla.org/deki/cp/custom_css.php */

.method{
	margin-left: 10px;
	margin-bottom: 2em;
	margin-top:  1em;
}

.method > .name{
  display: block;
  font-size: 13pt;
  margin-bottom: .2em;
}

.method>.name>.param:after{content: ","; padding-right: .5em; }
.method>.name>.param:last-of-type:after{content: ""; }
.method>.name>.param>.name:after{content: " as "; font-weight: normal; }

.method>.name>.param:not(.required){ font-style:italic; }
.method>.name>.param:not(.required):before{content:"[";}
.method>.name>.param:not(.required):after{content:"]";}

.method>.description{
  display: block;
	font-size: 10pt;
	color: #444;
	font-style: italic;
	margin-bottom: 7px;
}

.method>.name>.returns:before{content: " returns "; font-weight: normal; font-style:italic; }
.method>.name>.returns{ font-weight: bold; }


.method>.params{display: block; color:#555;}
.method>.params>.param{display: block; margin-bottom:5px;}
.method>.params>.param>.name{font-weight:bold; margin-right:.5em; min-width:80px; display:inline-block;}
.method>.params>.param>.description{display:inline-block; width:300px; vertical-align:top;margin-right:30px}

.method>.params>.param>.type{display:inline-block; width:150px; vertical-align:top;font-weight:bold;}
.method>.params>.param>.type:before{content: "Type "; color: #888; font-weight:normal;}
.method>.params>.param>.default{display:inline-block; width:150px; vertical-align:top;font-weight:bold;}
.method>.params>.param>.default:before{content: "Default "; color: #888;font-weight:normal;}