[App]
Vendor=${application_vendor}
Name=${application_name}
Version=${short_version}
BuildID=${build_id}
Copyright=
ID=${developer_email}

[Gecko]
MinVersion=2.0.1
MaxVersion=*

[XRE]
EnableExtensionManager=true
