[App]
Vendor=${application_vendor}
Name=${application_name}
Version=${short_version}
BuildID=${build_id}
Copyright=
ID=${developer_email}

[Gecko]
MinVersion=6.0.2
MaxVersion=12.0

[XRE]
EnableExtensionManager=true
