.module-detail > div.name {
    font-weight: bold;
    font-size: 2em;
}

.module-detail .package a {
    color: gray;
}

.module-detail .example {
    width: 100%;
    background: #ccc;
    padding: .5em;
    background-color: .2em;
    margin: 2em;
}

.one-property .invocation, .one-function .invocation {
    font-family: Monaco, Lucida Console, monospace;
    font-size: 1.1em;
}

.one-property .invocation .propName, .one-function .invocation .funcName {
    font-weight: bold;
}

.one-property .description, .one-function .description, .one-function .paramdoc {
    margin: 1em;
}

.one-function {
    margin-bottom: 1em;
}

.one-function .type, .one-property .type {
    color: gray;
    margin-right: .65em;
}

.one-function .paramdoc, .paramdoc tr, .one-function .paramdoc td {
    border: none;
    padding: 0;
    vertical-align: top;
}

.one-function .paramdoc td p {
    margin-bottom: .7em;
}

.one-function .paramdoc .paramname {
    font-size: 1.1em;
    font-style: italic;
    width: 6em;
}