.one-package {
    padding-bottom:1.5em;
}

.one-package .name a {
    font-size: 120%;
    font-weight: bold;
    color: gray;
}

.one-package .numfiles {
    color: gray;
    font-style: italic;
}

.one-package .files {
    padding: 1em;
}

.one-package .module {
    display: inline;
    margin-right: 1em;
    white-space: nowrap;
}
.one-package .module a {
    text-decoration: none;
    color: gray;
    font-size: .9em;
}